@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

html,
body {
  height: fit-content;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  /* overflow: hidden; */
}
body {
  width: 100%;
  height: 100%;
  position: relative;
}

nav {
  display: grid;
  grid-template-columns: 0.7fr 4fr 1fr;
  padding: 1rem 2.5rem;
  color: hsl(0, 0%, 41%);
  height: 10%;
  z-index: 1;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .fcca {
  display: flex;
  align-items: flex-start;
  padding-top: 6px;
  gap: 2.5rem;
  position: relative;
}

nav .fcca li {
  list-style-type: none;
  cursor: pointer;
}

nav .fcca li:hover {
  color: #000;
}

nav .fcca li {
  display: flex;
  align-items: center;
  gap: 7px;
}

.feature {
  display: none;
}

nav .lore {
  display: flex;
  gap: 2.5rem;
  display: flex;
  align-items: center;
}

nav .lore p:hover {
  color: #000;
  cursor: pointer;
}

nav .lore p + p {
  padding: 0.5rem 1.2rem;
  border: 1.5px solid hsl(0, 0%, 41%);
  border-radius: 12px;
}

nav .lore p + p:hover {
  border: 1.5px solid black;
}

main {
  display: grid;
  place-items: center;
  padding: 1.2% 8%;
  height: 90%;
  /* z-index: 1; */
}

main .left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

main .left h1 {
  font-weight: 700;
  font-size: 3.8rem;
}

main .left p {
  color: hsl(0, 0%, 41%);
  line-height: 1.5rem;
  width: 25rem;
}

main .left button {
  color: white;
  display: inline;
  background-color: #000;
  border-radius: 12px;
  padding: 15px;
  border: none;
  width: 9rem;
  height: 3rem;
  cursor: pointer;
}

main .left button:hover {
  color: #000;
  font-weight: 700;
  background-color: #fff;
  border: 1.5px solid black;
}

main .left .icons {
  display: flex;
  gap: 2.3rem;
  align-items: center;
  margin-top: 2rem;
}

main .right {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

main .right figure {
  width: 23rem;
  height: 30rem;
}

main .right figure img {
  width: 100%;
  height: 100%;
}

/* All laptops */
@media screen and (min-width: 1024px) {
  nav .fcca.ul .feature {
    padding: 1rem 1.2rem;
    flex-direction: column;
    gap: 0.6rem;
    border-radius: 8px;
    box-shadow: 1px 1px 25px 4px #00000038;
    position: absolute;
    z-index: 1;
    top: 38px;
    background-color: #fff;
    left: -40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  nav .fcca.ul .feature span {
    font-size: 14px;
    display: flex;
    /* justify-self: fl; */
    gap: 0.5rem;
  }

  nav .fcca li:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 7px;
    position: relative;
  }

  .company {
    display: none;
  }

  nav .fcca.ul-2 .company {
    padding: 1rem 1.2rem;
    flex-direction: column;
    gap: 0.6rem;
    border-radius: 8px;
    box-shadow: 1px 1px 25px 4px #00000038;
    /* z-index: -1; */
    position: absolute;
    top: 38px;
    left: 142px;
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 6.5rem;
  }

  nav .fcca.ul-2 .company span {
    font-size: 14px;
    /* list-style-type: none; */
  }
}

/* massive Desktops */
/* @media screen and (min-width: 2301px) {
  body {
    padding: 0 20%;
  }
} */
/* normal sized Desktops */
/* @media screen and (min-width: 1740px) and (max-width: 2300px) {
  body {
    padding: 0 5%;
  }
} */

/* large laptops */
@media screen and (min-width: 1440px) {
  .mobile {
    display: none;
  }

  main {
    grid-template-columns: 50% 50%;
  }

  main .left {
    height: inherit;
    justify-content: flex-end;
  }

  main .left h1 {
    font-size: 4.5rem;
  }

  main .right {
    height: inherit;
    align-items: flex-end;
  }

  nav .menu {
    display: none;
  }
}

/* small laptops */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .mobile {
    display: none;
  }

  nav {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  nav .fcca {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 0 4px 0;
  }
  main {
    gap: 3rem;
    grid-template-columns: 50% 50%;
  }

  main .left h1 {
    font-size: 3.58rem;
  }

  main .left {
    gap: 1.1rem;
  }

  main .right figure {
    width: 18rem;
    height: 23.5rem;
  }

  main .left .icons {
    display: flex;
    gap: 1.2rem;
  }

  nav .menu {
    display: none;
  }
}

/* tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .desktop {
    display: none;
  }
  /* 
  html,
  body {
    height: 0;
    width: 100%;
  } */

  body {
    width: 100%;
  }

  nav {
    padding: 0.3rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    align-items: center;
  }

  main {
    grid-template-rows: 1fr 1fr;
    /* grid-template-columns: none; */
    padding: 0;
    gap: 3.5rem;
  }

  main .left {
    grid-row: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 1rem;
  }

  main .left h1 {
    font-weight: 700;
    font-size: 3rem;
  }

  main .left p {
    line-height: 2.2rem;
    text-align: center;
    font-size: 24px;
    align-self: center;
    /* letter-spacing: 0.5px; */
  }

  main .left button {
    color: white;
  }

  main .left .icons {
    gap: 2rem;
    margin-top: 1rem;
  }

  main .right {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    grid-row: 1;
    padding: 0 2rem;
  }

  main .right figure {
    width: 100%;
    height: inherit;
  }
}

/* large phones */
@media screen and (min-width: 425px) and (max-width: 767px) {
  .desktop {
    display: none;
  }

  /* html,
  body {
    height: 0;
  } */

  body {
    width: fit-content;
  }

  nav {
    padding: 0.3rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    align-items: center;
  }

  main {
    grid-template-rows: 1fr 1fr;
    /* grid-template-columns: none; */
    padding: 0;
    gap: 3rem;
  }

  main .left {
    grid-row: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    padding: 0.5rem 1rem;
  }

  main .left h1 {
    font-weight: 700;
    font-size: 2.5rem;
  }

  main .left p {
    line-height: 1.55rem;
    text-align: center;
    /* align-self: center; */
    letter-spacing: 0.5px;
  }

  main .left button {
    color: white;
  }

  main .left .icons {
    gap: 1.5rem;
    margin-top: 1rem;
  }

  main .right {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    grid-row: 1;
  }

  main .right figure {
    width: 100%;
    height: inherit;
  }
}

/* medium phones */
@media screen and (min-width: 375px) and (max-width: 424px) {
  .desktop {
    display: none;
  }

  /* html,
  body {
    height: 0;
  } */

  body {
    width: fit-content;
  }

  nav {
    padding: 0.3rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    align-items: center;
  }

  main {
    grid-template-rows: 1fr 1fr;
    /* grid-template-columns: none; */
    padding: 0;
    gap: 3rem;
  }

  main .left {
    grid-row: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    padding: 0.5rem 1rem;
  }

  main .left h1 {
    font-weight: 700;
    font-size: 2.5rem;
  }

  main .left p {
    line-height: 1.55rem;
    text-align: center;
    /* align-self: center; */
    letter-spacing: 0.5px;
  }

  main .left button {
    color: white;
  }

  main .left .icons {
    gap: 1.5rem;
    margin-top: 1rem;
  }

  main .right {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    grid-row: 1;
  }

  main .right figure {
    width: 100%;
    height: inherit;
  }
}

/* small phones */
@media screen and (max-width: 374px) {
  .desktop {
    display: none;
  }

  /* html,
  body {
    height: 0;
  } */

  body {
    width: fit-content;
  }

  nav {
    padding: 0.3rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    align-items: center;
  }

  /* nav .lore {
    display: none;
  }

  nav .fcca {
    display: none;
  } */

  main {
    grid-template-rows: 1fr 1fr;
    /* grid-template-columns: none; */
    padding: 0;
    gap: 3rem;
  }

  main .left {
    grid-row: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    padding: 0.5rem 1rem;
  }

  main .left h1 {
    font-weight: 700;
    font-size: 2.5rem;
  }

  main .left p {
    line-height: 1.55rem;
    text-align: center;
    /* align-self: center; */
    letter-spacing: 0.5px;
  }

  main .left button {
    color: white;
  }

  main .left .icons {
    gap: 1.5rem;
    margin-top: 1rem;
  }

  main .right {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    grid-row: 1;
  }

  main .right figure {
    width: 100%;
    height: inherit;
  }
}

/* Tablets & phones */
@media screen and (max-width: 1023px) {
  nav .fcca {
    display: none;
  }

  nav .lore {
    display: none;
  }

  .closed-menu {
    position: absolute;
    z-index: 3;
    top: 25px;
    right: 25px;
    cursor: pointer;
    position: fixed;
    /* background: #000; */
  }
  .menu {
    cursor: pointer;
  }

  /* .mobile-menu-contents {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 4;
    top: 168px;
    right: 170px;
  } */

  .mobile-menu .mobile-fcca {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
    padding-top: 5rem;
    padding-left: 1.5rem;
  }

  .mobile-menu .mobile-fcca li {
    list-style-type: none;
    padding-bottom: 0.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 7px;
  }

  .mobile-menu .mobile-fcca li:hover {
    color: #000;
  }

  .mobile-menu .mobile-fcca .mobile-feature {
    display: none;
    padding-left: 1.5rem;
    padding-bottom: 1.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    color: grey;
  }

  .mobile-menu .mobile-fcca .mobile-feature span {
    font-size: 14px;
    /* justify-self: fl; */
    display: flex;
    gap: 0.5rem;
  }

  .mobile-menu .mobile-fcca li:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 7px;
    position: relative;
  }

  .mobile-company {
    display: none;
  }

  .mobile-menu .mobile-fcca .mobile-company {
    /* padding: 1rem 1.2rem; */
    padding-left: 1.5rem;
    padding-bottom: 1.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1.3rem;
    border-radius: 8px;
    color: gray;
    width: 6.5rem;
  }

  .mobile-menu .mobile-fcca .mobile-company span {
    font-size: 14px;
  }
}

.mobile-menu {
  width: 65%;
  height: 100%;
  background-color: #fff;
  top: 0;
  right: 0;
  position: fixed;
}

.mobile-menu_invisible {
  display: none;
}

.mobile-overlay {
  background-color: rgba(0, 0, 0, 58%);
  width: 100%;
  height: 100%;
  position: fixed;
}
